.about_me{
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin:  12% 0 0vh 0;
    text-align: center;
}


.heading{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 10%;
    width: 12%;
    gap: 5%;
}



.title_tag{
    text-decoration: none;
    color: black;
    font-size: 100%;
    white-space: nowrap;
    flex-shrink: 0;
}

.heading img{
    height: 18%;
    width: 7.5%;
    white-space: nowrap;
    flex-shrink: 0;
}


.about_me h1{
    font-weight: 500;
    font-size: 300%;
    margin: 3.55% 0 0 0;
    padding: 0;
}

.about_me h1 span{
    color: var(--secondary-bg-color);
}

.about_me h3{
    font-weight: 400;
    font-size: 180%;
    line-height: 130%;
    margin: 3.55% 0 0 0;
    padding: 0;

}
.about_me h3 span{
    color: #909090;
}
