

.about_me{
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.service2 {
  height: 100vh;
  background: white;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.tobepinned{
    height: 700px;
    width: 100%;
    padding-top: 100px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    position: relative;
}

.heading{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 10%;
    width: 12%;
    gap: 5%;
    margin: 0;
    padding: 0;
    
}



.title_tag{
    text-decoration: none;
    color: black;
    font-size: 100%;
    white-space: nowrap;
    flex-shrink: 0;
}

.heading img{
    height: 12px;
    width: 12px;
    white-space: nowrap;
    flex-shrink: 0;
}


.about_me h1{
    font-weight: 500;
    font-size: 300%;
    margin: 3.55% 0 0 0;
    padding: 0;
}

.about_me h1 span{
    color: gold
}

.about_me_heading{
    position: relative;
}

.heading2{
    position: absolute;
    opacity: 1;
    top: 0;
    left: 3.5%;
}


.about_me h3{
    font-weight: 400;
    font-size: 180%;
    line-height: 130%;
    margin: 3.55% 0 0 0;
    padding: 0;

}
.about_me h3 span{
    color: #909090;
}

.about_me_desc{
    position: relative;
}


.desc2{
    position: absolute;
    opacity: 1;
    top: 0;
    left: 3.5%;
}