.about_me{
    height: 70vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}

.about_me h1{
    text-align: center;
}

.heading{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 10%;
    width: 10%;
    margin-top: 5%;
    gap: 5%;
}

.heading a{
    text-decoration: none;
    color: black;
    font-size: 140%;
}


.about_me h1{
    font-weight: 500;
    font-size: 350%;
}

.about_me h1 span{
    color: var(--secondary-bg-color);
}

.about_me h3{
    font-weight: 400;
    font-size: 200%;
    line-height: 130%;

}
.about_me h3 span{
    color: #909090;
}

.circle1{
    position: relative;
    height: 21%;
    width: 7%;
    border-radius: 50%;
    border: 2px solid black;
    position: relative;
}

.circle1::after {
  content: "";
  width: 50%;
  height: 50%;
  background: black;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 49%;
  transform: translate(-50%, -50%);
}