.about_me{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    /* padding-top: 12%; */
    text-align: center;
    overflow: visible;
    background-color: antiquewhite;
}


.heading{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 10%;
    width: 12%;
    gap: 5%;
    margin: 0;
    padding: 0;
    
}



.title_tag{
    text-decoration: none;
    color: black;
    font-size: 100%;
    white-space: nowrap;
    flex-shrink: 0;
}

.heading img{
    height: 12px;
    width: 12px;
    white-space: nowrap;
    flex-shrink: 0;
}


.about_me h1{
    font-weight: 500;
    font-size: 300%;
    margin: 3.55% 0 0 0;
    padding: 0;
}

.about_me h1 span{
    color: var(--secondary-bg-color);
}

.about_me_heading{
    position: relative;
}

.heading2{
    position: absolute;
    opacity: 1;
    top: 0;
    left: 3.5%;
}


.about_me h3{
    font-weight: 400;
    font-size: 180%;
    line-height: 130%;
    margin: 3.55% 0 0 0;
    padding: 0;

}
.about_me h3 span{
    color: #909090;
}

.about_me_desc{
    position: relative;
}

.desc1{
    scale: 1;

}

.desc2{
    position: absolute;
    opacity: 1;
    top: 0;
    left: 3.5%;
}

.test_base{
    height: 100vh;
    width: 100vw;
    background-color: blue;
    position: relative;
}

.test{
    height: 200px;
    width: 200px;
    position: relative;
    background-color: red;
}

.test img{
    height: 90%;
    width: 90%;
    object-fit: cover;
    position: relative;
    top: 0;
    left: 0;
    z-index: 999;
}
