:root{
    --primary-bg-color: white;
    --secondary-bg-color: orange;
    --terirary-bg-color: black;
    --navbar-bg-color: #D9D9D9; 
    --linear-gradient: linear-gradient(98deg,rgba(254, 179, 50, 1) 0%, rgba(255, 191, 105, 1) 100%);
    --overlay-linear-gradient: linear-gradient(98deg,rgba(255, 191, 105, 1) 0%, rgba(254, 179, 50, 1) 100%);
}
.hero{
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: var(--primary-bg-color);
  overflow: hidden;
}

.hero_content{
    height: 100%;
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
}
.navbar{
    margin: 5% 0 0 0;
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}
.navbar a{
    text-decoration: none;
    width: 15%;
    background: var(--linear-gradient);
    height: 60%;
    border-radius: 110px;
    display: flex;
    align-items: center;   
    justify-content: center;
    margin-left: -4%;
    
}

.navbar ul{
    width: 60%;
    height: 60%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;   
    justify-content: space-evenly;
    gap: 10px;
    background-color: var(--navbar-bg-color);
    border-radius: 110px;
    margin-left: 5%;
    
    
}
.item{
    width: 22.5%;
    height: 90%;
    border-radius: 110px;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 10%;
    cursor: pointer;
}

.active .circle{
    position: relative;
    height: 28%;
    width: 10%;
    border-radius: 50%;
    
    border: 3px solid var(--secondary-bg-color);
    position: relative;
}

.active .circle::after {
  content: "";
  width: 50%;
  height: 50%;
  background: var(--secondary-bg-color);
  border-radius: 50%;
  position: absolute;
  top: 45%;
  left: 49%;
  transform: translate(-50%, -50%);
}


.active{
    background-color: var(--primary-bg-color);
}


.video{
    height: 100%;
    width: 50%;
    position: relative;

}
.video video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.overlay{
    height: 100%;
    width: 100%;
    background: var(--overlay-linear-gradient);
}

.contact_us{
    position: absolute;
    top: 6%;
    right: 8%;
    height: 6%;
    width: 132px;
    border-radius: 110px;
    border: none;
    font-weight: 400;
    font-size: clamp(16px, 1vw, 20px);
}

.discription{
    margin-left: 8%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
}

.discription h1{
    font-size: 64px;
    font-weight: 500;
}

.discription h3{
    font-size: 18px;
    font-weight: 400;
}

.learn_more{
    display: flex;
    flex-direction: row;
    align-items: start;
    text-align: center;    
    gap: 5%;
}

.learn_more img{
    height: 60%;
    width: 5%;
    margin: 0;
    padding: 0;
    margin-top: 1.5%;
    margin-left: -4%;
}

.Explore_more{
    background: var(--linear-gradient);
    height: 12%;
    width: 40%;
    border-radius: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Explore_more_text{
    font-size: 20px;
    font-weight: 500;
    color: var(--primary-bg-color);
    
}

