:root{
    --primary-bg-color: white;
    --secondary-bg-color: orange;
    --terirary-bg-color: black;
    --navbar-bg-color: #F3F3F3; 
    --linear-gradient: linear-gradient(98deg,rgba(254, 179, 50, 1) 0%, rgba(255, 191, 105, 1) 100%);
    --overlay-linear-gradient: linear-gradient(98deg,rgba(255, 191, 105, 1) 0%, rgba(254, 179, 50, 1) 100%);
}
.hero{
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: var(--primary-bg-color);
  overflow: hidden;
}
.hero_content{
    height: 100%;
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
}
.navbar{
    margin: 5% 0 0 0;
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}
.navbar a{
    text-decoration: none;
    width: 15%;
    background: var(--linear-gradient);
    height: 60%;
    border-radius: 110px;
    display: flex;
    align-items: center;   
    justify-content: center;
    margin-left: -4%;
    
}
.navbar ul{
    width: 61%;
    height: 60%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;   
    justify-content: space-evenly;
    gap: 10px;
    background-color: var(--navbar-bg-color);
    border-radius: 110px;
    margin-left: 5%;
    z-index: 1;
    position: relative; 
}
.activated{
    height: 85%;
    width: 23%;
    margin: 0.7%;
    background: var(--primary-bg-color);
    border-radius: 110px;
    display: flex;
    justify-content: start;
    align-items: center;
    position: absolute;
    left: 0%;
}
.activated img{
    height: 40%;
    width: 28%;
    object-fit: contain;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.item{
    width: 25%;
    height: 85%;
    border-radius: 110px;
    font-weight: 400;
    font-size: 100%;    
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 10%;
    cursor: pointer;
    z-index: 3;
    margin-left: 7px;

}





.discription{
    margin-left: 8%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    align-items: start;
}
.discription h1{
    font-size: 64px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
.hero_desc{
    font-size: 18px;
    font-weight: 400;
}
.Explore_more{
    background: var(--linear-gradient);
    height: 12%;
    width: 40%;
    border-radius: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Explore_more_text{
    font-size: 16px;
    font-weight: 500;
    color: var(--primary-bg-color);
}





.video{
    height: 100%;
    width: 50%;
    position: relative;

}
.video video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.overlay{
    height: 100%;
    width: 100%;
    background: var(--overlay-linear-gradient);
}
.contact_us{
    position: absolute;
    top: 6%;
    right: 8%;
    height: 6%;
    width: 132px;
    border-radius: 110px;
    border: none;
    font-weight: 400;
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
}

