.hire_me_section{
    height: 80vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hire_me_card{
    width: 100%;
    height: 85%;
    background: var(--overlay-linear-gradient);
    border-radius: 40px;
    margin: 0 4% 6% 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.hire_me_title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 50px;
}

.hire_me_title a{
    color: var(--primary-bg-color);
    font-weight: 400;
    font-size: 125%;
}

.hire_me_title img{
    height: 55%;
    width:  0.8%;
}

.hire_me_card h1{
    font-weight: 500;
    color: var(--primary-bg-color);
    font-size: 350%;
    margin-top: 1.5%;
}

.hm_contact_us{
    height: 44px;
    width: 151px;
    background-color: var(--primary-bg-color);
    border-radius: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: black;
    margin-top: -1%;    
}

.outro_info{
    display: flex;
    flex-direction: column;
    text-align: end;
    margin: 0 -67% 0 0;
    color: var(--primary-bg-color);
}

.outro_info h3{
    font-weight: 400;
    font-size: 20px;
}
.email{
    font-size: 18px;
}

.outro_icon{
    display: flex;
    align-items: center;
    justify-content: end;
    height: 30px;
}

.outro_icon img{
    height: 30px;
    width: 30px;
    margin-left: 20px;
}