.service_section{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: start;
    margin: 0;
    padding: 0;
}

.display{
    margin-top: 60px;
    height: 530px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.title_display{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    margin-left: 4%;
}

.service_tag{
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: start;

}

.service_tag h3{
    font-size: 120%;
    font-weight: 400;
    margin: 0 12px 0 12px;
}

.service_tag img{
    height: 12px;
    width: 12px;
}


.service_title{
    width: 100%;
    display: flex;
    justify-content:start;
    
    
}

.service_title h1{
    font-weight: 500;
    font-size: 350%;
    margin-top: 0%;
}

.services_heading{
    width: 100%;
    
}

.services_heading ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 0;
    padding: 0 0 0 0;
    position: relative;

}

.services_heading ul li{
    display: flex;
    
    align-items: center;
    font-weight: 400;
    font-size: 32px;
    padding:  0 0% 0 4%;
    cursor: pointer;
    height: 80px;
    
}

.indicator{
    position: absolute;
    top: 59%;
    height: 80px;
    background: var(--overlay-linear-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-left: 4px solid transparent;
    border-image: var(--overlay-linear-gradient);
    border-image-slice: 1;
}

.active_service{
    background: var(--overlay-linear-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* border-left: 4px solid transparent; */
    border-image: var(--overlay-linear-gradient);
    border-image-slice: 1;
}



.content_display{
    width: 69%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;   
    margin-right: 4%;
    
}




.content_box{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0 0 0 0%;
    border-radius: 50px;
    overflow: hidden;   
    z-index: 1; 
}

.service_vid_1, .service_vid_2{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}

.content_box::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.15),
    rgba(0, 0, 0, 0.6)
  );
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  pointer-events: none;
}



.content_box h3{
    position: absolute;
    bottom: 10%;
    left: 0%;
    margin-left: 8%;       
    font-weight: 500;
    font-size: 120%;
    color: var(--primary-bg-color);
    z-index: 4;
}

