.work_section{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: end;
    position: relative;
    margin: 0 0 160px 0;
}

.heading3{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 10%;
    width: 10%;
    margin-right: 2%;
    margin-bottom: -1%;
    gap: 5%;
}

.circle3{
    position: relative;
    height: 12%;
    width: 5.2%;
    border-radius: 50%;
    border: 2px solid black;
    position: relative;
}

.circle3::after {
  content: "";
  width: 50%;
  height: 50%;
  background: black;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 49%;
  transform: translate(-50%, -50%);
}

.work_arrows{
    height: 80px;
    width: 192px;
    position: absolute;
    top: 20%;
    left: 4%;
    display: flex;
    justify-content: space-between;

}



.work_section h1{
    margin-right: 4%;
    font-weight: 500;
    font-size: 350%;

}

.work_section h2{
    text-align: right;
    font-weight: 400;
    font-size: 110%;
    margin: -1% 4% 3% 0;

}

.card_display{
    width: 100%;
    background-color: var(--secondary-bg-color);
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /* overflow-x: auto; */
    overflow-y: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;

}

.card_display::-webkit-scrollbar {
    height: 8px;
}
.card_display::-webkit-scrollbar-thumb {
    background: none;
}

.card{
    position: relative;
    background-color: var(--primary-bg-color);
    height: 80%;
    min-width: 25%;
    margin-left: 3%;
    border-radius: 40px;
}

.card img{
    height: 80px;
    width: 80px;
    position: absolute;
    top: 6.5%;
    right: 6.5%;
}

.card label{
    position: absolute;
    font-weight: 400;
    font-size: 32px;
    left: 6.5%;
    bottom: 6.5%;
}