html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  height: 100vh;
  width: 100vw;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: rgba(26, 26, 30);
  color: white;
  font-size: 40px;
}