:root{
  --primary-bg-color: white;
  --secondary-bg-color: #f0f0f0;
  --terirary-bg-color: black;
}
.App{
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: var(--primary-bg-color);
}