:root {
  --primary-bg-color: yellow; 
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
  font-family: 'Montserrat', sans-serif;
}

